GOOGLE_API_KEY=<YOUR_GOOGLE_API_KEY>
OPENAI_API_KEY=<YOUR_OPENAI_API_KEY>
ANTHROPIC_API_KEY=<YOUR_ANTHROPIC_API_KEY>
DEEPSEEK_API_KEY=<YOUR_DEEPSEEK_API_KEY>
OPENROUTER_API_KEY=<YOUR_OPENROUTER_API_KEY>
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_DB=Adventureworks